@model dynamic

<h2>Інформація про лабораторну роботу</h2>

<table border="1" cellpadding="8">
    <tr><th>Номер</th><td>@Model.Number</td></tr>
    <tr><th>Тема</th><td>@Model.Topic</td></tr>
    <tr><th>Мета</th><td>@Model.Goal</td></tr>
    <tr><th>Виконавець</th><td>@Model.Author</td></tr>
</table>